




<!--
  <div class="carousel-caption d-none d-md-block">
          <h2>DELECIOUS FOOD SYSTEM</h2>
          <h3>OTLOBLY WEBSITE</h3>
          <p style= "margin-bottom: 0; margin-block: 2.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptatum, voluptatibus corporis nobis excepturi numquam necessitatibus provident id laboriosam deserunt fuga nostrum minima fugiat error ratione dolor dicta commodi! Sequi</p>
          <button> see more </button>
        </div>
 -->
<section class="banner ">
  <c-carousel>

    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
          src="{{slide.src}}"
        />
        <c-carousel-caption class="d-none d-md-block">
          <h2>DELECIOUS FOOD SYSTEM</h2>
          <h3>OTLOBLY WEBSITE</h3>
          <p style= "margin-bottom: 0; margin-block: 2.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptatum, voluptatibus corporis nobis excepturi numquam necessitatibus provident id laboriosam deserunt fuga nostrum minima fugiat error ratione dolor dicta commodi! Sequi</p>
          <button routerLink="/all-resturants" class="btn btn-secondary"> see more </button>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</section>
<!-- ---------------------------------------- Best Selling Design  ---------------------------- -->
<section  class="best-selling"  *ngIf="this.ExpirationDate && this.Promo">
  <div class="container">
    <div class="best-selling-container row">
      <!-- <div class="sale-price">Sale<strong>14%</strong></div> -->
      <div class="selling-col-1 col-lg-3 col-md-3 col-sm-12">
        <div class="selling-left">
          <ul>
            <li>
              <span class="count-date">{{ ExpirationDate.days }}</span>
              <span class="count-day">Days</span>
            </li>
            <li>
              <span class="count-date">{{ ExpirationDate.hours }}</span>
              <span class="count-day">Hours</span>
            </li>
            <li>
              <span class="count-date">{{ ExpirationDate.mins }}</span>
              <span class="count-day">Mins</span>
            </li>
            <li>
              <span class="count-date">{{ ExpirationDate.secs }}</span>
              <span class="count-day">Secs</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="selling-col-2 d-flex justify-content-center align-items-center   col-lg-5 col-md-5 col-sm-12">
        <div  class="selling-img">
          <img src="{{Promo.imageUrl}}" alt="Best Selling" />
        </div>
      </div>
      <div class="selling-col-3 flex-column d-flex justify-content-center col-lg-4 col-md-4 col-sm-12">
        <div class="selling-heading">
          <a href="javascrip:void(0);">{{Promo.title}}</a>
          <div class="selling-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <p>
          {{Promo.description}}
        </p>
        <h3>
          <span class="selling-amount">{{Promo.priceAfter | currency}}</span>
          <span class="selling-discount">{{Promo.priceBefore | currency}}</span>
        </h3>
        <div class="selling-button">
          <a href="javascrip:void(0);" class="cart-btn"
            ><i class="fa fa-shopping-cart"></i>Add To Cart</a
          >
          <button type="button" class="main-button">
            <a href="javascrip:void(0);"><i class="fa fa-heart"></i></a>
            <a href="javascrip:void(0);"><i class="fa fa-search"></i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>















  <section class="firstSec">
    <div class="my-container container row">
      <div data-aos="zoom-in" data-aos-easing="linear" data-aos-delay="500" class="d-flex align-items-center col-lg-6 col-md-6 col-sm-12">
        <h1>Hot Fresh Meals Delivered Every Day at your Doorstep</h1>
      </div>
      <div class=" img_container col-lg-6 col-md-6 col-sm-12" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500">

          <img  style="width: 100%;" src="https://media.istockphoto.com/id/1079893444/photo/grilled-steaks-and-vegetables-on-white-background.jpg?s=612x612&w=0&k=20&c=h1AeikJAhGY0KK7rinCdX_8YzYE8vRzXFwJJAJPw_uQ=" alt="">
      </div>
    </div>
</section>



<section class="SecondSec">
    <div class="container d-flex ">
      <div class="row">
        <div data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" class=" col-lg-4 col-md-4 col-sm-12 text-center">
          <img src="../../../assets/derlivery.png">


          <h3 class="my-3">The Fastest Delivery</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, corrupti!</p>

        </div>

        <div data-aos="fade-up" data-aos-duration="500"    data-aos-delay="500"   data-aos-easing="linear" class="col-lg-4 col-md-4 col-sm-12 text-center">
          <img src="../../../assets/HotFood.png">

          <h3 class="my-3">The Hottest Meals</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, corrupti!</p>

        </div>

        <div data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1000"   data-aos-easing="linear" class="col-lg-4 col-md-4 col-sm-12 text-center">
          <img src="../../../assets/lowPrice.png">

          <h3 class="my-3">The Cheaptest Prices</h3>

          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, corrupti!</p>
        </div>
      </div>






    </div>
</section>

<section class="RestSection container">

  <div class="firstSection d-flex justify-content-between mb-4">
    <p class="fs-4">Restaurants</p>

    <button (click)="gotrest()"   class="btn btn-dark">Show All</button>
  </div>

  <div class="RestCard d-flex container justify-content-around row">
    <ng-template ngFor let-item [ngForOf]="payload" let-i="index">
      <div class="mycol col-sm-12 col-md-3 col-lg-3">
        <div data-aos="fade-up" data-aos-duration="500"  class="card" routerLink="/restaurant/{{payload[i]._id}}">

          <img src="{{PromoSer.environment.ImgURL+payload[i].image}}" class="card-img-top" width="15rem" style="aspect-ratio: 1/1;" alt="..." >
          <div class="card-body">
          <h5 class="card-title text-center ">{{payload[i].title}}</h5>
          <p class="card-text">{{payload[i].description.substring(0,50)}}..</p>
          </div>
        </div>
      </div>
  </ng-template>
  </div>

</section>

































<router-outlet></router-outlet>
