<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="language">
          <ul>
            <li (click)="drop('language')">
              English<i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id==='language'">
                <ul>
                  <li>English</li>
                  <li>Arabic</li>
                </ul>
              </div>
            </li>

            <li (click)="drop('currency')">
              USD<i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id==='currency'">
                <ul>
                  <li>EUR</li>
                  <li>LE</li>
                  <li>GBP</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 text-right">
        <div class="social-menu">
          <ul>
            <li>
              <a href="javascript:void(0)">
                All Resturants
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="login">
                Login
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>

<!-- Best Seller -->

<!----------------------------------- Banner Slider using Owel Carousel------------------------ -->
<section class="banner">
  <owl-carousel-o [options]="bannerSlider">
    <ng-template carouselSlide>
      <img src="../assets/laugh.png" alt="Banner" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../assets/stress5.jpg" alt="Banner" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../assets/Milton-Friedman.png" alt="Banner" />
    </ng-template>
  </owl-carousel-o>
</section>
<!-- ----------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------- Best Selling Design  ---------------------------- -->
<section class="best-selling">
  <div class="container">
    <div class="best-selling-container">
      <div class="sale-price">Sale<strong>14%</strong></div>
      <div class="selling-col-1">
        <div class="selling-left">
          <ul>
            <li>
              <span class="count-date">{{ days }}</span>
              <span class="count-day">Days</span>
            </li>
            <li>
              <span class="count-date">{{ hours }}</span>
              <span class="count-day">Hours</span>
            </li>
            <li>
              <span class="count-date">{{ mins }}</span>
              <span class="count-day">Mins</span>
            </li>
            <li>
              <span class="count-date">{{ secs }}</span>
              <span class="count-day">Secs</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="selling-col-2">
        <div class="selling-img">
          <img src="../assets/burgar.png" alt="Best Selling" />
        </div>
      </div>
      <div class="selling-col-3">
        <div class="selling-heading">
          <a href="javascrip:void(0);">Enim Pichana Enim</a>
          <div class="selling-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          quod ipsum, dignissimos impedit tenetur eius omnis. Dolor provident
          magnam, et deserunt laboriosam odio commodi atque necessitatibus
          quidem eum, nam ex!
        </p>
        <h3>
          <span class="selling-amount">$230.00</span>
          <span class="selling-discount">$202000</span>
        </h3>
        <div class="selling-button">
          <a href="javascrip:void(0);" class="cart-btn"
            ><i class="fa fa-shopping-cart"></i>Add To Cart</a
          >
          <button type="button" class="main-button">
            <a href="javascrip:void(0);"><i class="fa fa-heart"></i></a>
            <a href="javascrip:void(0);"><i class="fa fa-search"></i></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------------------------------------------------------- -->

<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller</p>
      <h1><span>Best</span>Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (click)="changeImage($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
              <div class="p" (click)="changeImage($event)">
                <img src="../assets/A_1.jpg" alt="Product" />
              </div>
              <div class="p" (click)="changeImage($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span
              ><span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (click)="changeImage_2($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_2($event)">
                <img src="../assets/A_1.jpg" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_2($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url_2 }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span
              ><span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (click)="changeImage_3($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_3($event)">
                <img src="../assets/A_1.jpg" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_3($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url_3 }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span
              ><span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (click)="changeImage_4($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_4($event)">
                <img src="../assets/A_1.jpg" alt="Product" />
              </div>
              <div class="p" (click)="changeImage_4($event)">
                <img src="../assets/laugh.png" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url_4 }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span
              ><span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Animation Product Card Start -->
<section class="policy">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all Egypt order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          <h2>Mony Back Guarentee</h2>
          <p>30 days money back guarentee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2>Online Support 24/24</h2>
          <p>We Support online 24/24 on a day</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy-product">
  <div class="containers">
    <!-- <div class="bg-position"> -->
    <owl-carousel-o [options]="policyOptions">
      <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/laugh.png" alt="P1" />
          </div>
          <h2>At Vero Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            deserunt quod cupiditate, quam veritatis, adipisci numquam possimus
            iste voluptates accusantium, nulla quidem? Molestiae unde quas
            minima corporis harum perspiciatis necessitatibus!
          </p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>26</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/laugh.png" alt="P1" />
          </div>
          <h2>At Vero Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            deserunt quod cupiditate, quam veritatis, adipisci numquam possimus
            iste voluptates accusantium, nulla quidem? Molestiae unde quas
            minima corporis harum perspiciatis necessitatibus!
          </p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>27</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/laugh.png" alt="P1" />
          </div>
          <h2>At Vero Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            deserunt quod cupiditate, quam veritatis, adipisci numquam possimus
            iste voluptates accusantium, nulla quidem? Molestiae unde quas
            minima corporis harum perspiciatis necessitatibus!
          </p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/laugh.png" alt="P1" />
          </div>
          <h2>At Vero Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            deserunt quod cupiditate, quam veritatis, adipisci numquam possimus
            iste voluptates accusantium, nulla quidem? Molestiae unde quas
            minima corporis harum perspiciatis necessitatibus!
          </p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- </div> -->
</section>

<!--  OWL  Carousel  -->
<section class="partners">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let partnerArray of partnerArray"
        ><img src="{{ partnerArray.imgName }}" alt="Partner"
      /></ng-template>
    </owl-carousel-o>
  </div>
</section>
