<section class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
        </div>
        <div class="footer-top-menu">
          <ul>
            <li>
              <i class="fa fa-home"></i>
              <span class="heading">Address</span>
              <span class="address">Eypty ,Cairo ,El sharkia</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us</span>
              <span class="email">
                <a href="mailto:monasallam400@gmail.com">mailto:monasallam400@gmail.com</a>
              </span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone</span>
              <span class="number">
                <a href="tel:1-888-33-210">1-888-33-210</a>
              </span>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>My Account</h2>
          <ul>
            <li><i class="fa fa-circle"></i>
              <a href="">Information</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-3">


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="containers">
 <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <input type="mail" class="input" placeholder="Email">
    <button type="button" class="btn"><i class="fa fa-location-arrow"></i></button>
  </div>
  <div class="col-md-4">
    <div class="social text-center">
      <ul>
        <li><a href="https://www.facebook.com/profile.php?id=100090260251722"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100090260251722"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100090260251722"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
 </div>
  </div>
</section>
<footer>
  <div class="containers text-center">
<p>@2023 MO <a href="">Createive Developer</a>All Rights Reserves</p>
  </div>
</footer>
