<body class="align">

  <div class="login" >

    <header class="login__header">
      <h2><svg class="icon">
          <use xlink:href="#icon-lock" />
        </svg>Registe</h2>
    </header>

    <form action="#" class="login__form" method="POST">

      <div>
        <label for="fname">First Name</label>
        <input formControlName="firstName"  type="text" id="fname" name="fname" placeholder="First Name" required >
      </div>
      <div>
        <label for="lname">Last Name</label>
        <input formControlName="lastName"  type="text" id="lname" name="lname" placeholder="Last Name" required >
      </div>
      <div >
        <label for="name">User Name : </label>
        <input  formControlName="username"  type="text" required  name="User Name" placeholder=" User Name" >
      </div>
      <div formControlName="" class="form-group">
        <label for="male">Gender : </label>
          <input  formControlName="gender"  type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input   formControlName="gender"  type="radio" id="female" name="gender" value="female">
          <label for="female">Female </label><br>
      </div>
      <div >
        <label for="name">Date of birth  : </label>
        <input formControlName="DOB"  type="date" name="name"  placeholder="Name" name="myInput" ng-model="myInput" ng-required="myVar" >
      </div>
      <div >
        <label for="name">Address : </label>
        <input formControlName="address" type="text" name="name" class="form-control" placeholder="Address" name="myInput" ng-model="myInput" ng-required="myVar" >
      </div>

      <div>
        <label for="email">E-mail address</label>
        <input formControlName="Email" type="email" id="email" name="email" placeholder="mail@address.com" required email>
      </div>

      <div>
        <label for="password">Password</label>
        <input formControlName="passward"  placeholder="********"  #password type="password" id="password" name="password" placeholder="password" required>
      </div>


      <div>

        <input  class="button" type="submit" value="Sign Up"  (click)="Add()">

      </div>
      <a class="small text-muted" href="#!">Forgot password?</a>
      <p class="mb-5 pb-lg-2" style="color: #393f81;">I have an account?
      <a routerLink="/login" style="color: #ff4000;">login here</a>

      </p>




    </form>

  </div>

  <svg xmlns="http://www.w3.org/2000/svg" class="icons">

    <symbol id="icon-lock" viewBox="0 0 448 512">
      <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
    </symbol>

  </svg>

</body>


<!-- https://fontawesome.com/icons/lock?style=solid -->
