<div style="height: 100vh;">
  <!-- <table class="table align-middle mb-0 bg-white table-hover ">
    <thead class="bg-light">
      <tr>
        <th>Restaurant Name</th>
        <th>Start time</th>
        <th>Renew time</th>
        <th>Status</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of payload">

        <td>
          <div class="d-flex align-items-center">
            <img
                src="{{sub.restaurantImg}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{sub.restaurantName}}</p>
            </div>
          </div>
        </td>

        <td>
          <p class="fw-normal mb-1">{{sub.createdAt}}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{sub.ExpirationDate}}</p>
        </td>
        <td>
          <span  [ngClass]="{'btn-success': sub.substate=='active', 'btn-danger': sub.substate=='expired', 'btn-secondary': sub.substate=='pending'}" style="text-transform: capitalize;" class="btn">{{sub.substate}}</span>
        </td>
        <td>
          <p class="fw-normal mb-1">{{sub.monthly_price}} EGP</p>
        </td>

        <td class="actions">
          <div class="d-flex">
            <div class="example-button-container">
              <button data-toggle="modal" (click)="setSelected(sub)" data-target="#exampleModalCenter2" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                Edit
              </button>
            </div>
            <div class="example-button-container">
              <button (click)="deleteSub(sub._id , sub.substate)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

        </td>
      </tr>

    </tbody>
  </table> -->

  <div class="container">




    <ng-template #nosubblovk>
      <div  style="height: 100vh;" >
        <h1 class="text-center fs-1" style="transform: translateY(25vh);">No Subscriptions</h1>
      </div>
    </ng-template>

    <table *ngIf="!loading  else loading_blOCK" data-aos="fade-up"  class="table table-striped">
       <thead *ngIf=" payload.length > 0 else nosubblovk">
        <tr class="text-center">
         <th>Restaurant Name </th>
         <th>Renew time</th>
         <th>Status</th>
         <th>Price</th>
         <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of payload; let i = index">
            <td ><img
              src="{{element.restaurantImg}}"
              alt=""
              style="width: 150px; aspect-ratio: 1/1;"
              class="rounded-circle"
              /></td>
            <td >{{element.ExpirationDate | date:"longDate" }}</td>
            <td >          <span  [ngClass]="{'btn-success': element.substate=='active', 'btn-danger': element.substate=='expired', 'btn-secondary': element.substate=='pending'}" style="text-transform: capitalize;" class="btn">{{element.substate}}</span>
            </td>
            <td >$ {{element.monthly_price}}</td>
            <td >
              <div class="d-flex justify-content-center">
                <div class="example-button-container">
                  <button data-toggle="modal" (click)="setSelected(element)" data-target="#exampleModalCenter2" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    Edit
                  </button>
                </div>
                <div class="example-button-container">
                  <button (click)="deleteSub(element._id , element.substate)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </td>
        </tr>


    </tbody>
  </table>

    <ng-template #loading_blOCK>
      <div  style="height: 100vh;" >
        <mat-spinner color="#ff4000" style=" width: 100px;
        height: 100px;
        margin: auto;
        transform: translateY(25vh);"></mat-spinner>
      </div>
    </ng-template>
  </div>

</div>


<!-- Modal -->
<div *ngIf="selected_sub" class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="text-center fs-2">Arrival Dates</h2>
        <ng-template ngFor let-item [ngForOf]="selected_sub.meals" let-i="index" >

          <div class="lunch text-center">

            <h1 style="color: #ff4000; font-size: 1.5rem;">{{selected_sub.meals[i].title}}</h1>
            <img src="{{selected_sub.meals[i].image}}" width="300px" alt="" srcset="">
            <!-- <igx-time-picker
              #timePicker
              [(ngModel)]="selected_sub.Dates[i]"
                          [spinLoop]='false'
                          value="'16:14:00'" >
                  <label igxLabel>Time</label>
              </igx-time-picker> -->


            <mat-form-field>
              <input matInput
                    name="selected_time_A"
                    [(ngModel)]="selected_sub.Dates[i]"
                    [ngxMatTimepicker]="pickerA"

                    readonly />
              <mat-icon matSuffix
                        (click)="pickerA.open()">
                  watch_later
              </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

          </div>
        </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="updateSub()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

