



<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="language">
          <ul>
            <li (click)="drop('language')">
             User<i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'language'">
                <ul>
                  <li routerLink="subscription">Subscrabtion</li>
                  <li routerLink="edit-profile">Edit Your profile</li>
                  <li routerLink="logout">LogOut</li>
                </ul>
              </div>
            </li>


          </ul>
        </div>
      </div>
      <div class="col-md-8" style="text-align: right">
        <div class="social-menu">
          <ul>
            <li routerLink="/home" routerLinkActive="active">Home</li>
            <li routerLink="/all-resturants" routerLinkActive="active">All Resturants</li>
            <li routerLink="/products" routerLinkActive="active">Products</li>

            <li routerLink="/cart" routerLinkActive="active">Cart</li>

            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <button routerLink="/signup" class="login" routerLinkActive="active"> Register </button>
              <button routerLink="/login" class="login" routerLinkActive="active"> Login </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
