<!-- <nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <ul>
        <li routerLink="/">Products</li>
        <li routerLink="/cart">Cart</li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- <header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="language">
          <ul>
            <li (click)="drop('language')">
              English<i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'language'">
                <ul>
                  <li>English</li>
                  <li>Arabic</li>
                </ul>
              </div>
            </li>

            <li (click)="drop('currency')">
              USD<i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'currency'">
                <ul>
                  <li>EUR</li>
                  <li>LE</li>
                  <li>GBP</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" style="text-align: right">
        <div class="social-menu">
          <ul>
            <li routerLink="/">Home</li>
            <li routerLink="/product-crud">CRUD</li>
            <li routerLink="/all-resturants">All Resturants</li>
            <li routerLink="/products">Products</li>

            <li routerLink="/cart">Cart</li>

            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="login"> Login </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header> -->

<nav class="  navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Aklney</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-resturants">All Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item"    >

          <a class="nav-link username_container" style="cursor: pointer;" *ngIf="auth_flag ;else trueBlock" data-toggle="modal" data-target="#exampleModalCenter" >{{current_user.username[0]}}</a>
          <!-- <a class="nav-link myBtn" *ngIf="!auth_flag" routerLink="/login" >Login</a> -->
          <ng-template #trueBlock>
            <a class="nav-link myBtn"  routerLink="/login" >Login</a>

          </ng-template>
        </li>

      </ul>
    </div>
  </div>

</nav>




<!-- Modal -->
<div *ngIf="current_user" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 31vw;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Profile</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body" id="general">
        <div class="d-flex flex-column" >
          <div class="some-info">
            <div>
              <div class="user-img">
                {{current_user.username[0]}}
              </div>
            </div>
            <div>
              <p style="font-size: 1.6rem;">{{current_user.username}}</p>
              <p style="width: 22vw;">{{current_user.email}}</p>
            </div>

          </div>
          <hr>
          <ul class="profile-list">
            <li routerLink="users/subs"> <span > <img src="../../../../assets/sub-icon.png" width="50px" > </span> subscriptions</li>
            <li (click)="show('info')"> <span> <img src="../../../../assets/info-icon.png" width="50px"> </span>Info</li>
            <li (click)="logout()">  <span> <img src="../../../../assets/logout-icon.png" width="50px"></span> Log out</li>
          </ul>
        </div>


      </div>

      <div class="modal-body" id="info">
        <div class="inner-container d-flex flex-column" >
          <h1 class="text-center alert alert-success myModaltitle">Edit Info</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            </div>
            <input type="text" name="firstName" class="form-control" placeholder="{{current_user.firstName}}" aria-label="Recipient's username" aria-describedby="basic-addon2">

          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            </div>
            <input type="text" name="lastName" class="form-control" placeholder="{{current_user.lastName}}" aria-label="Recipient's username" aria-describedby="basic-addon2">

          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            </div>
            <input type="text" name="username" class="form-control" placeholder="{{current_user.username}}" aria-label="Recipient's username" aria-describedby="basic-addon2">

          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            </div>
            <input type="text" name="email" class="form-control" placeholder="{{current_user.email}}" aria-label="Recipient's username" aria-describedby="basic-addon2">

          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gender</span>
            </div>
            <input type="text" name="gender" class="form-control" placeholder="{{current_user.gender}}" aria-label="Recipient's username" aria-describedby="basic-addon2">

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="backme()" >Close</button>
        <button type="button" class="btn saver ">Save changes</button>
      </div>
    </div>
  </div>
</div>
